<?xml version="1.0"?>
<launch>
    <arg name="robot" default="p3dx" />
    <node pkg="octomap_path_planner" type="octomap_path_planner_node" name="octomap_path_planner" output="screen">
        <remap from="octree_in" to="/octomap_binary"/>
        <remap from="goal_point_in" to="/clicked_point"/>
        <remap from="goal_pose_in" to="/move_base_simple/goal"/>
        <remap from="twist_out" to="/cmd_vel"/>
        <param name="treat_unknown_as_free" type="bool" value="true" />
        <param name="goal_reached_threshold" value="0.25" />
        <param name="controller_frequency" value="2.0" />
        <param name="twist_linear_gain" value="0.5" />
        <param name="twist_angulear_gain" value="1.0" />
        <param name="max_superable_height" value="0.25" />
        <param name="ground_voxel_connectivity" value="3.5" />
        <rosparam command="load" file="$(find octomap_path_planner)/launch/vrep-$(arg robot).yaml" />
    </node>
    <node pkg="octomap_path_planner" type="next_best_view_node" name="next_best_view" output="screen">
        <remap from="octree_in" to="/octomap_binary"/>
        <param name="min_computation_interval" value="5" />
        <param name="normal_search_radius" value="0.4" />
        <param name="min_pts_per_cluster" value="5" />
        <param name="eps_angle" value="0.25" />
        <param name="tolerance" value="0.3" />
        <param name="boundary_angle_threshold" value="2.5" />
        <rosparam command="load" file="$(find octomap_path_planner)/launch/vrep-$(arg robot).yaml" />
    </node>
</launch>
