<?xml version="1.0"?>
<launch>
    <arg name="cloud_in" default="/pcl" />
    <arg name="robot" default="p3dx" />
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <remap from="cloud_in" to="$(arg cloud_in)"/>
        <param name="resolution" value="0.05" />
        <param name="sensor_model/hit" type="double" value="0.7" />
        <param name="sensor_model/miss" type="double" value="0.4" />
        <param name="sensor_model/min" type="double" value="0.12" />
        <param name="sensor_model/max" type="double" value="0.97" />
        <param name="sensor_model/max_range" type="double" value="3.0" />
        <rosparam command="load" file="$(find octomap_path_planner)/launch/vrep-$(arg robot).yaml" />
    </node>
</launch>
