<?xml version="1.0"?>
<launch>
    <node pkg="octomap_path_planner" type="octomap_path_planner_node" name="octomap_path_planner">
        <remap from="octree_in" to="/octomap_binary"/>
        <remap from="goal_in" to="/clicked_point"/>
        <remap from="twist_out" to="/cmd_vel"/>
        <param name="treat_unknown_as_free" type="bool" value="true" />
        <rosparam command="load" file="$(find octomap_path_planner)/launch/vrep-p3dx.yaml" />
    </node>
</launch>
